<div class="container-fluid">
  <mat-card appearance="outlined" class="bg-gradient bg-success">
    <mat-card-header>
      <mat-card-title>{{this.matchService.game.value.currentCatlordCard}}</mat-card-title>
      <mat-card-subtitle>{{this.getCatLordname()}} is Catlord</mat-card-subtitle>
    </mat-card-header>
    <div class="d-flex justify-content-around">
    <mat-card-actions>
      <button mat-raised-button class="p-2" (click)="matchService.nextCard()">Nächste Karte</button>
    </mat-card-actions>
    <mat-card-actions>
      <button color="primary" class="p-2" mat-raised-button (click)="showAnswers()">Alle Antworten zeigen</button>
    </mat-card-actions>
    </div>
  </mat-card>
</div>
