<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Wähle einen Raum</mat-label>
    <mat-select formControlName="room">
      <mat-option *ngFor="let room of rooms()"
                  value="{{room}}">
        {{ room }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!--  <button class="ms-3"-->
  <!--          mat-icon-button-->
  <!--          color="accent"-->
  <!--          aria-label="Raum aktualisieren"-->
  <!--          (click)="reload()"-->
  <!--  >-->
  <!--    <mat-icon>autorenew</mat-icon>-->
  <!--  </button>-->
</form>

<div>
  <mat-form-field>
    <mat-label>Raum</mat-label>
    <input matInput [formControl]="newRoomControl" required maxlength="32">
  </mat-form-field>
  <button class="ms-3"
          mat-icon-button
          color="accent"
          aria-label="Raum aktualisieren"
          (click)="createRoom()"
  >
    <mat-icon>plus</mat-icon>
    Create Room
  </button>
</div>


<div>
  <button [disabled]="form.invalid"
          mat-raised-button
          aria-label="Spiel beitreten"
          color="primary"
  >
    <mat-icon>rocket_launch</mat-icon>
    Spiel Beitreten!
  </button>
</div>
