<div class="container-fluid">
  <div class="py-3 px-3">
    <mat-card appearance="outlined" class="bg-gradient bg-success">
      <mat-card-header>
        <mat-card-title>
          @for (part of lueckentextArr; track part) {
            @if (gapCount.value === 0) {
              {{ part.text }}
              <button [id]="'gapbtn'+$index" mat-raised-button
                      (click)="markFirstFreeAnswer()"> {{ part.gap }}
              </button>
            } @else if (lueckentextArr.indexOf(part) < lueckentextArr.length - 1) {
              {{ part.text }}
              <button mat-raised-button (click)="markFirstFreeAnswer()"> {{ part.gap }}</button>
            } @else {
              {{ part.text }}
            }

          }
        </mat-card-title>
      </mat-card-header>
      <div class="d-flex justify-content-end">
        <mat-card-actions>
          <button mat-raised-button class="p-2" (click)="getNext()">Nächste Karte just for Test</button>
        </mat-card-actions>
      </div>
    </mat-card>

    <div class="d-flex flex-column w-100 py-3">
      @for (answer of answerset; track answer) {
        <button [id]="'answerbtn'+$index" (click)="pickAnswerAndFillIntoGaps(answer)"
                [color]="changeButtonColorDependingOnAnswerpickCounter(answer)" class="mb-2"
                mat-raised-button>{{ answer.answer }}
        </button>
      }
    </div>
  </div>

  <div class="d-flex flex-row justify-content-between">
    <h2>{{ this.playername }}</h2>
    <button class="mt-2 float-end p-2 me-3 mb-2"
            mat-raised-button
            color="warn" (click)="matchService.playerReady(this.playername)">
      {{this.matchService.lockedPlayerView.value? 'Halt warte!' : 'Fertig' }}</button>
  </div>
</div>
