<div class="py-3 px-3">
  <mat-card appearance="outlined" class="bg-gradient bg-success">
    <mat-card-header>
      <mat-card-title>
        @for (part of lueckentextArr; track part) {
          @if (gapCount.value === 0) {
            {{ part.text }}
            <button [id]="'gapbtn'+$index" mat-raised-button
                    (click)="markFirstFreeAnswer()"> {{ part.gap }}
            </button>
          } @else if (lueckentextArr.indexOf(part) < lueckentextArr.length - 1) {
            {{ part.text }}
            <button mat-raised-button (click)="markFirstFreeAnswer()"> {{ part.gap }}</button>
          } @else {
            {{ part.text }}
          }

        }
      </mat-card-title>
    </mat-card-header>
    <div class="d-flex justify-content-end">
      <mat-card-actions>
        <button mat-raised-button class="p-2" (click)="getNext()">Nächste Karte</button>
      </mat-card-actions>
    </div>
  </mat-card>

  <div class="d-flex flex-column w-100 py-3">
    @for (answer of answerset; track answer) {
      <button [id]="'answerbtn'+$index" (click)="pickAnswerAndFillIntoGaps(answer)"
              [color]="lalal(answer)" class="mb-2"
              mat-raised-button>{{ answer.answer }}
      </button>
    }
  </div>
</div>

