@if ((matchService.gameSignal())?.isStarted) {
  <app-answer-text-card [playername]="playername"
                        class="p-3"></app-answer-text-card>
} @else {
  <div class="container mt-5 text-center">
    <mat-card appearance="outlined">
      <mat-card-content>
        <h2>Warte auf den Spielstart...</h2>
        <p>Der Host wird das Spiel starten, sobald genügend Spieler da sind.</p>
        <div class="mt-3">
          <mat-spinner style="margin:0 auto;"></mat-spinner>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
}
