<div class="ms-3 mt-3 justify-content-center align-content-center">
  <mat-form-field>
    <mat-label>Raum</mat-label>
    <input (input)="inputHelper.validate($event)"
           maxlength="10"
           matInput type="text"
           required
           [(ngModel)]="roomName"
    >
    <button matSuffix mat-icon-button aria-label="Clear" (click)="roomName=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="ms-3 mt-3">
  <button disabled="{{ playerName===''}}"
          mat-raised-button
          aria-label="senden"
          color="primary"
          [routerLink]="['/game', roomName, playerName,'catlord']"
          (click)="submitConfig(playerName)">
    Spiel Erstellen!
    <mat-icon>send</mat-icon>
  </button>
</div>
