<div>
  <div class="center-content mt-3">
  <h2> Willkommen bei cards and gaps </h2>
  </div>
<mat-card class="mt-3">
  <mat-card-header class="center-content">
    <mat-card-title>Ein neues Spiel erstellen</mat-card-title>
  </mat-card-header>
  <mat-card-actions class="center-content">
    <button mat-raised-button color="primary" [routerLink]="['/new-game']">Spiel erstellen</button>
  </mat-card-actions>
</mat-card>
<mat-card class="mt-3">
  <mat-card-header class="center-content">
    <mat-card-title>Einem Spiel beitreten</mat-card-title>
  </mat-card-header>
  <mat-card-actions class="center-content">
    <button mat-raised-button color="primary" [routerLink]="['/join-game']">Spiel beitreten</button>
  </mat-card-actions>
</mat-card>
</div>
