.background-color {
  margin: 0;
  height: 100%;
  box-sizing: border-box;

}

.center-content {
  display: flex;
  justify-content: center;
  //align-items:center;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.qr-image {
  max-width: 200px;
  width: 100%;
  height: auto;
  background: white;
}

@import 'styles/bootstrap';
