<div class="d-flex justify-content-center overflow-hidden">
  <div class="d-flex flex-column m-2 border rounded shadow-sm bg-darks justify-content-center p-2">
    <h2 class="text-accent h4">Über Einladungs-Link beitreten (WebRTC)</h2>

    @if (!answerCode()) {
      @if (getConnectionStatus()() === 'connected') {
        <div class="bg-success-subtle p-3 rounded mb-3 text-center">
          <mat-icon class="fs-1 h-auto w-auto" color="primary">check_circle</mat-icon>
          <p class="mb-2"><strong>Du bist bereits verbunden!</strong></p>
          <button (click)="finishJoin()" class="w-100" color="primary" mat-raised-button>
            <mat-icon>play_arrow</mat-icon>
            Lobby beitreten
          </button>
        </div>
        <div class="text-center my-2">
          <span class="small text-muted">ODER mit neuem Link verbinden:</span>
        </div>
      }

      <p class="small">Füge den Sessioncode vom Host ein oder nutze einen Einladungs-Link.</p>
      <mat-form-field>
        <mat-label>Sessioncode oder join-link vom Host</mat-label>
        <textarea [formControl]="offerCodeControl" matInput rows="3"></textarea>
      </mat-form-field>
      <button (click)="handleAction()" [disabled]="offerCodeControl.invalid" class="w-100" color="accent"
              mat-raised-button>
        {{ isUrl() ? 'Link aufrufen' : 'Antwort-Code generieren' }}
      </button>
    }

    @if (answerCode()) {
      <h3 class="h6 font-weight-bold text-primary">Antwort-Code generiert!</h3>
      <p class="small">Zeige diesen QR-Code dem Host oder sende ihm den Code-String zurück.</p>

      <div class="text-center">
        <img [src]="answerQrCodeUrl()" alt="QR Code"
             class="img-fluid qr-image border rounded">
        <button (click)="copyAnswerLink()" class="w-100 mb-3" color="accent" mat-stroked-button>
          <mat-icon>content_copy</mat-icon>
          Link kopieren
        </button>
      </div>
      <mat-form-field class="w-75">
        <mat-label>Antwort-Code</mat-label>
        <input [value]="answerCode()" matInput readonly>
        <button (click)="copyAnswer()" mat-icon-button matSuffix matTooltip="Kopieren">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>

      <div [class.bg-danger-subtle]="getConnectionStatus()() === 'disconnected'"
           [class.bg-success-subtle]="getConnectionStatus()() === 'connected'"
           [class.bg-warning-subtle]="getConnectionStatus()() === 'connecting'"
           class="mt-3 p-2 text-center rounded">
        Status: <strong class="text-uppercase">{{ getConnectionStatus()() }}</strong>
      </div>

      <button (click)="finishJoin()" [disabled]="getConnectionStatus()() !== 'connected'"
              class="w-100 mt-3 py-2" color="primary"
              mat-raised-button>
        <mat-icon>play_arrow</mat-icon>
        Lobby beitreten
      </button>

      @if (getConnectionStatus()() === 'connected') {
        <p class="mt-2 small text-center text-success animation-pulse">
          @if (!isInGame()) {
            Der Host wartet auf deinen Lobbybeitritt ...
          } @else {
            Verbindung bestätigt!
          }
        </p>
      } @else {
        <p class="mt-2 small text-center text-danger animation-pulse">
          Warten auf WebRTC-Verbindung...
        </p>
      }
    }
  </div>
</div>
