<div class="d-flex justify-content-center mx-2 my-2 overflow-hidden">
  <div class="d-flex flex-column mb-4 p-3 border rounded shadow-sm bg-darks justify-content-center">
    <h2 class="text-accent mb-3 h4">Über Einladungs-Link beitreten (WebRTC)</h2>

    @if (!answerCode()) {
      <p class="small">Füge den Sessioncode vom Host ein oder nutze einen Einladungs-Link.</p>
      <mat-form-field>
        <mat-label>Sessioncode vom Host</mat-label>
        <textarea [formControl]="offerCodeControl" matInput rows="3"></textarea>
      </mat-form-field>
      <button (click)="generateAnswer()" [disabled]="offerCodeControl.invalid" class="w-100" color="accent"
              mat-raised-button>
        Antwort-Code generieren
      </button>
    }

    @if (answerCode()) {
      <h3 class="h6 font-weight-bold text-primary">Antwort-Code generiert!</h3>
      <p class="small">Zeige diesen QR-Code dem Host oder sende ihm den Code-String zurück.</p>

      <img [src]="answerQrCodeUrl()" alt="QR Code"
           class="w-100 vh-100 border pe-2 mb-2 rounded bg-white shadow-sm overflow-hidden">

      <mat-form-field class="w-75">
        <mat-label>Antwort-Code</mat-label>
        <input [value]="answerCode()" matInput readonly>
        <button (click)="copyAnswer()" mat-icon-button matSuffix matTooltip="Kopieren">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>

      <div [class.bg-danger-subtle]="(webrtcService.connectionStatus | async) === 'disconnected'"
           [class.bg-success-subtle]="(webrtcService.connectionStatus | async) === 'connected'"
           [class.bg-warning-subtle]="(webrtcService.connectionStatus | async) === 'connecting'"
           class="mt-3 p-2 text-center rounded">
        Status: <strong class="text-uppercase">{{ webrtcService.connectionStatus | async }}</strong>
      </div>

      <button (click)="finishJoin()" [disabled]="(webrtcService.connectionStatus | async) !== 'connected'"
              class="w-100 mt-3 py-2" color="primary"
              mat-raised-button>
        <mat-icon>play_arrow</mat-icon>
        Spiel jetzt beitreten
      </button>

      @if ((webrtcService.connectionStatus | async) !== 'connected') {
        <p class="mt-2 small text-center text-danger animation-pulse">Warten auf Bestätigung durch Host...</p>
      }
    }

    <h1>List of existing Rooms</h1>
    @for (room of rooms(); track room) {
      <mat-card class="room-card">
        <mat-card-content>
          <span class="room-name">{{ room }}</span>
          <button (click)="joinRoom(room)"
                  aria-label="Join"
                  color="primary"
                  mat-button
          >
            <mat-icon>rocket_launch</mat-icon>
            Join
          </button>
        </mat-card-content>
      </mat-card>
    } @empty {
      <div>There are no rooms yet.</div>
    }
  </div>
</div>
